.header__top {
  background-color: #f7ebe5;
  padding: 15px 0px;
  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
  }

  &__row__list {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__row__item {
    font-family: Proxima Nova;
    font-size: 14px;
    font-weight: 400;
    line-height: 17.05px;
    text-align: left;
    color: #000000e0;
    cursor: pointer;
  }

  &__row__right {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__row__right__icons {
    display: flex;
    align-items: center;
    gap: 5px;
    font-family: Proxima Nova;
    font-size: 14px;
    font-weight: 400;
    line-height: 17.05px;
    text-align: left;
    color: #000000e0;
  }

  @media (max-width: 1040px) {
    &__row__right {
      display: none;
    }
  }
  @media (max-width: 540px) {
    &__row__list {
      flex-wrap: wrap;
      text-align: center;
      gap: 5px;
    }
  }
}

.header {
  background-color: white;
  padding: 10px 0px;
  &__nav {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
  }

  &__nav__right__list,
  &__nav__left__list {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  &__nav__middle {
    img {
      width: 100px;
      height: 100px;
      object-fit: contain;
    }
  }

  &__nav__left__item {
    font-family: Proxima Nova;
    font-size: 14px;
    font-weight: 400;
    line-height: 17.05px;
    text-align: left;
    cursor: pointer;
  }

  @media (max-width: 1006px) {
    &__nav__left__list {
      display: none;
    }
    &__nav__right__list {
      flex-wrap: wrap;
      gap: 5px;
    }
  }
}
